/dbs
/bin
/.settings
/build/build.log
/docs/modelo-er/LavenderePDA.pdb
/src/main/resources/rebel.xml
/Gerado
/chime.mp3
/target/

/.project
/release
/.project
/.checkstyle
/.pmd
/.classpath

/fotosWMWVendas
/arquivosWMWVendas
/android-install.bat
/.eclipse-pmd
/*.iml
/.rebel.xml.bak
/logIAaddId.log
/dadosTest/
/serialized_result/
/.idea/
/wmwvendasapp.eml
/tempFramework
/tempTotalCross
/install/wmwvendasdeploy.bat
/install/wmwvendasdeploy.sh
jarRepositories.xml
Maven__br_com_wmw_framework_tc_2_080.xml
/help.dat
/hs_err*.log

/cacheDataBaseTest/
/docs/modelo-er/LavenderePDA_sqlite.pdb
/vendasapp-resources
/MainLavenderePda.jar
/videosWMWVendas
/appconf
/debug
/fotos/
/src/main/java/br/com/wmw/lavenderepda/business/conf/DaosNameConfig.java
